################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HostAppInPanel/bin
/HostAppInPanel/obj
/HostAppInPanelLib/bin
/.vs/HostAppInPanel/v15/Server/sqlite3
/HostAppInPanelLib/obj
/HostChromeInPanel/bin
/HostChromeInPanel/obj
/packages
/.vs/HostAppInPanel/v16
